body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Makinas-Scrap-5.otf);
}

#homeimg {
    width: 200px;
    height: 200px;
    float: left;
    transition: 0.5s;
}

#myPhoto {
    width: 300px;
}

.navbar-nav a {
    position: relative;
}

.blog-header a {
    font-size: 200%;
}

.blog-header a:hover {
    text-decoration: none;
}

.navbar-nav a:before,
.navbar-nav a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.5s ease;
    opacity: 0;
}

.navbar-nav a:before {
    right: -7%;
    top: 0;
    border-right: 5px solid #E74C3C;
    border-top: 5px solid #E74C3C;
    transform: translate(-100%, 50%);
}

.navbar-nav a:after {
    left: -7%;
    bottom: 0;
    border-left: 5px solid #E74C3C;
    border-bottom: 5px solid #E74C3C;
    transform: translate(100%, -50%);
}

.navbar-nav a:hover:before,
.navbar-nav a:hover:after {
    transform: translate(0%, 0%);
    opacity: 1;
}

.aa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 10;
    margin-top: 0;
    min-width: 100%;
    opacity: 0.94;
    transition: opacity 0.5s ease-out;
}

.bb.navbar.navbar-expand-lg.navbar-light.black {
    background: rgba(105, 105, 105, 0.8);
    height: 200px;
    padding: 10px 50px;
}

#homeimg.black {
    width: 80px;
    height: 80px;
    margin-right: 5%;
}

.bb a {
    font-size: 5px;
    color: #262626;
}

.aa ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}

.bb ul li,
.navbar-brand {
    list-style: none;
}

.navbar-brand {
    margin-right: 50%;
}

.bb ul li a,
.navbar-brand {
    list-style: 80px;
    color: #262626;
    padding: 5px 20px;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
}

.aa.black .navbar-brand,
.aa.black ul li a,
.aa.black a {
    color: #fff;
}

nav ul li a {
    transition: all 0.5s;
}

.bb a:hover,
nav li a:active,
nav li a:hover {
    /* color: #fff;
    background: #f00; */
    /* background: #3498DB; */
    text-decoration: none;
}

.blog-header a {
    font-size: 200%;
}

.blog-header a:hover {
    text-decoration: none;
}

.collapse {
    margin-right: 5%;
}

.jumbotron {
    background: linear-gradient(to left, #b2fefa, #0ed2f7);
    /* width: 100vw;
    height: 60vh; */
}

.jumbotron .btn {
    color: white;
    font-weight: bold;
    border: white 2px solid;
}

.collapse a {
    font-size: 30px;
}

.about h2,
.skils h2 {
    text-align: center;
    font-size: 50px;
}

.container div {
    text-align: left;
    font-size: 20px;
}

.container img {
    display: block;
    margin-bottom: 10%;
}

#myPhoto {
    border-radius: 15%;
}

.skilsWords p {
    text-align: left;
    font-size: 40px;
}

.skilsWords .languages {
    font-size: 20px;
}

.fab.fa-facebook-square {
    color: #3b5998;
    font-size: 45px;
    margin-right: 2%;
}

.fab.fa-instagram {
    color: black;
    font-size: 45px;
    margin-left: 2%;
}

.fab.fa-github {
    color: black;
    font-size: 42px;
    margin-left: 3%;
}

#here {
    text-align: center;
}

.navbar-nav li {
    margin-left: 15px;
}

.footer {
    padding: 10px 0px 10px 0px;
}

.footer p {
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width:768px) {
    #myPhoto {
        width: 300px;
    }
    #homeimg {
        width: 100px;
        height: 100px;
    }
    /* .footer {
        position: relative;
        left: 40%;
    } */
    .bb a:hover,
    nav li a:active,
    nav li a:hover {
        color: #fff;
        background: #f00;
        text-decoration: none;
    }
    .navbar-nav a:hover:before,
    .navbar-nav a:hover:after {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    .row p {
        font-size: 20px;
    }
}
